/* Importando .css */
@import url("https://www.w3schools.com/w3css/4/w3.css");
/* Importando fonte */
@import url("https://fonts.googleapis.com/css?family=Roboto");
/* Importando ícones */
@import url("https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css");

#home-icon {
  margin-right: 8px;
  text-align: left;
}

p.categoria-academica {
  margin-top: -0.5rem;
  margin-bottom: 1.5rem;
}

p.justify {
  text-align: justify;
}

h5.educacaotittle {
  margin-bottom: -12px;
}
p.subtexto {
  margin-bottom: -15px;
}

h2#nome-h2 {
  color: #f0f0f0;
  font-weight: 700;
  text-align: center;
  border: 10px solid #333;
  background-color: #333;
}

hr#hr1 {
  height: 3px;
  border-radius: 25px;
  background-color: black;
  margin-top: 2rem;
  margin-bottom: 2rem;
}
hr#hr2 {
  height: 1.5px;
  background-color: rgb(61, 61, 61);
  margin-top: 1.5rem;
  margin-bottom: 1rem;
}

.icon {
  width: 5rem;
  padding-bottom: 1rem;
}
p#footer {
  font-size: 1.1rem;
}

#email-text {
  padding: 0.4rem 0.6rem;
  border: 1px solid #131313;
  border-radius: 4px;
  font-size: 15px;
}
span.email-copy-ico {
  color: black;
  cursor: pointer;
  vertical-align: middle;
  background-color: #cccccc;
  padding: 0.4rem 0.6rem;
  border-radius: 4px;
}
.email-ico {
  margin-right: 12px;
}
.container-2 {
  display: flex;
  align-items: center;
  margin-bottom: 1rem;
}
.div-emailcopy {
  margin-right: 1rem;
}

span.email-copy-ico:hover {
  background-color: #e0e0e0;
}
span.email-copy-ico:active {
  color: #2c2c2c;
}
.imgcopy {
  width: 17px;
  size: 17px;
}
.txt-copiar {
  font-size: 15px;
}

.espaco-git {
  margin-bottom: 4rem;
}

.portfolio-button {
  font-size: 13px;
  display: inline-block;
  padding: 0.1rem 0.2rem;
  background-color: #cccccc;
  color: black;
  text-decoration: none;
  border-radius: 4px;
}
.portfolio-button i {
  margin-right: 5px;
}
.portfolio-button:hover {
  background-color: #e0e0e0;
}

/*

Animações

*/

@keyframes fade-in {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes fade-out {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

/* 
  RESPONSIVIDADE
*/

@media (min-width: 200px) and (max-width: 237px) {
  p {
    font-size: 82%;
  }
  h2#nome-h2 {
    font-size: 145%;
    padding: 10px 7px;
  }
  #email-text {
    font-size: 90%;
  }
  .txt-copiar {
    font-size: 10px;
  }
  .container-2 {
    display: block;
  }
  .copy-div {
    margin-left: 25%;
  }
}
@media (min-width: 238px) and (max-width: 246px) {
  #email-text {
    font-size: 100%;
  }
  .txt-copiar {
    font-size: 11px;
  }
  .container-2 {
    display: block;
  }
  .copy-div {
    margin-left: 25%;
  }
  h2#nome-h2 {
    font-size: 150%;
    padding: 10px 7px;
  }
}
@media (min-width: 247px) and (max-width: 349px) {
  #email-text {
    font-size: 110%;
  }
  .txt-copiar {
    font-size: 12px;
  }
  .container-2 {
    display: block;
  }
  .copy-div {
    margin-left: 20%;
  }
  h2#nome-h2 {
    font-size: 150%;
    padding: 10px 7px;
  }
}

@media (min-width: 350px) and (max-width: 374px) {
  #email-text {
    font-size: 110%;
  }
  .txt-copiar {
    font-size: 13px;
  }
  h2#nome-h2 {
    font-size: 150%;
    padding: 10px 7px;
  }
  #home-icon {
    margin-right: 12px;
    text-align: left;
  }
  .w3-large {
    font-size: 15px !important;
  }
  .w3-xlarge {
    font-size: 18px !important;
  }
}

@media (min-width: 600px) and (max-width: 689px) {
  p {
    font-size: 93.3%;
  }
  h2#nome-h2 {
    font-size: 160%;
    padding: 5px 5px;
  }
  #home-icon {
    margin-right: 12px;
    text-align: left;
  }
  .w3-large {
    font-size: 15px !important;
  }
  .w3-xlarge {
    font-size: 18px !important;
  }
}
@media (max-width: 655px) {
  * {
    font-size: 97%;
  }
  h2#nome-h2 {
    font-size: 180%;
    padding: 10px 7px;
  }
}
@media (min-width: 690px) and (max-width: 735px) {
  * {
    font-size: 99%;
  }
  h2#nome-h2 {
    font-size: 180%;
    padding: 10px 7px;
  }
}

@media (min-width: 736px) and (max-width: 900px) {
  * {
    font-size: 100%;
  }
  h2#nome-h2 {
    font-size: 180%;
    padding: 10px 7px;
  }
}

/*
 FelipeFMedeiros
*/